{% extends "base.html" %}

{% block content %}
<br>
<h1>Admin Page</h1>
<br>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Hashed Password</th>
        <th>Created date</th>
        <th>Archived</th>
        <th>Admin</th>
        <th></th>
        <th></th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      {% for item in users%}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td>PASSWORD</td>
          <td>{{ item.created_date }}</td>
          <td>{{ item.archived }}</td>
          <td>{{ item.admin }}</td>
          <td>
            <div>
              <a href="/edituser/{{ item.id }}" class="btn btn-success">
                Edit
              </a>
            </div>
          </td>
          <td>
            <div>
              <a href="/archiveuser/{{ item.id }}" class="btn btn-warning">
                Archive
              </a>
            </div>
          </td>
          <td>
            <div>
              <a href="/adminuser/{{ item.id }}" class="btn btn-danger">
                Admin
              </a>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
